Client/Library/
Client/Logs/
Client/Temp/
Client/obj/
Client/UserSettings/
Client/bundles/
Client/Assets/StreamingAssets/


Client/Assets/FR2_Cache.*
Client/Assets/Xlua/Gen/


Client/Assets/LuaScripts/.idea/
Client/.idea/
*.csproj